@media screen and (min-width: 1200px) {
    /* .container
{

    
} */
main
{
    display: flex;
    height: 100%;
    margin-top: 60px;
    margin-left: 60px;
}
.page-content
{
    flex: 1;
    padding: 0 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
    z-index: 0;
}

.overlay
{
    width: 100%;
    height: 200vh;
    background-color: black;
    opacity: 0.7;
    position: fixed;
    z-index:0;
}
}
@media screen and (max-width: 480px) {
    /* .container
{

    
} */
main
{
    display: flex;
    height: 100%;
}
/* Page-content trên mobile: thêm padding-top để tránh bị che bởi header-top mới */
.page-content
{
    flex: 1;
    padding: 70px 10px 80px 10px; /* padding-top: 70px (60px header + 10px spacing), padding-bottom: 80px (60px header dưới + 20px spacing) */
    background-color: #f9f9f9;
    min-height: 100vh;
    z-index: 0;
    width: 100%; /* Đảm bảo full width */
}

.overlay
{
    width: 100%;
    height: 200vh;
    background-color: black;
    opacity: 0.7;
    position: fixed;
    z-index:0;
}
}
